.title {
    position: absolute;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    -unity-text-align: middle-center;
    color: rgb(255, 255, 255);
    top: 10%;
    font-size: 64px;
    -unity-font-definition: url("project://database/Assets/Font/Thaleah_PixelFont/Materials/ThaleahFat_TTF.ttf?fileID=12800000&guid=585188cdc4600544eb408bee749e4b3a&type=3#ThaleahFat_TTF");
}

.textbutton {
    -unity-font-definition: url("project://database/Assets/Font/Thaleah_PixelFont/Materials/ThaleahFat_TTF.ttf?fileID=12800000&guid=585188cdc4600544eb408bee749e4b3a&type=3#ThaleahFat_TTF");
    color: rgb(255, 255, 255);
    font-size: 36px;
    opacity: 1;
    text-shadow: 2px 2px 0 rgb(0, 0, 0);
    -unity-text-outline-width: 0;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    align-content: center;
    position: absolute;
    -unity-slice-scale: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    -unity-font-style: normal;
    top: auto;
    align-self: center;
    -unity-text-align: middle-left;
    height: 24px;
}

.textbutton:hover {
    -unity-font-definition: url("project://database/Assets/Font/Thaleah_PixelFont/Materials/ThaleahFat_TTF.ttf?fileID=12800000&guid=585188cdc4600544eb408bee749e4b3a&type=3#ThaleahFat_TTF");
    color: rgb(0, 91, 255);
    font-size: 36px;
    opacity: 1;
    text-shadow: 2px 2px 0 rgb(0, 0, 0);
    -unity-text-outline-width: 0;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    align-content: center;
    position: absolute;
    -unity-slice-scale: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    -unity-font-style: normal;
    top: auto;
    align-self: center;
    -unity-text-align: middle-left;
    height: 24px;
}

.textbutton:focus {
    -unity-font-definition: url("project://database/Assets/Font/Thaleah_PixelFont/Materials/ThaleahFat_TTF.ttf?fileID=12800000&guid=585188cdc4600544eb408bee749e4b3a&type=3#ThaleahFat_TTF");
    color: rgb(0, 91, 255);
    font-size: 36px;
    opacity: 1;
    text-shadow: 2px 2px 0 rgb(0, 0, 0);
    -unity-text-outline-width: 0;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    align-content: center;
    position: absolute;
    -unity-slice-scale: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    -unity-font-style: normal;
    top: auto;
    align-self: center;
    -unity-text-align: middle-left;
    height: 24px;
}

.subtext {
    -unity-font-definition: url("project://database/Assets/Font/Thaleah_PixelFont/Materials/ThaleahFat_TTF.ttf?fileID=12800000&guid=585188cdc4600544eb408bee749e4b3a&type=3#ThaleahFat_TTF");
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
}
